/*-----------------*/
/*---           ---*/
/*-----------------*/



/*commentaire*/



/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100;400;700&display=swap');


:root {
    --primaryColor1: #919BA7;
    --primaryColor2: #D11421;
    --primaryColor3: #3B46EB;
    
    --main-color1: #17375E; /* */
    --main-color2: #F6A2A8; /* */
    --main-color3: #ACB0F7;
    --main-color4: #D11485;
    --main-color5: #F3E9F1;/*logo&header bg*/
    --main-color6: #E3E0FC;/*footer bg*/
    --main-color7: #C5C6FE;/*main bg*/

    --mainWhite: #fff;
    --mainBlack: #000;
    --mainGrey: #808080;
    --mainPink : pink;
    
    
    --main-padding: 25px 10px;
    
    --main-spacing: 0.5rem;
    
    --main-transition: all 0.3sec linear;
    
    }
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.d-flex{display: flex;}
.centerTxt{text-align: center;}

h1{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;
}

h2{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6rem;
}

h3{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5rem;
}

h4{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4rem;
}


p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.3rem;
}
	
a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 20px;
}

.fas{
    padding: 0 10px;
}

li{list-style: none;}

/*font-family: 'Indie Flower', cursive;

font-family: 'Roboto', sans-serif;*/
	
/* <!---------------------------- BODY ----------------------------> */

body{
    background-color:var(--mainWhite) ;
	color: var(--mainBlack);
    font-family: 'Indie Flower', cursive;
    max-width: 1400px;
    margin: 0 auto;
	border: solid 1px red;
}

/*<!------------------------------HEADER----------------> */

/*<!--  logo (...)-->*/

.logo img{
    width: 200px;
    padding-left: 10px;
}

.logo {
    background-color: var(--main-color5);

}
/*<!--  headernav (...)-->*/
.headernav{
    background-color: var(--main-color5); 
}

.headernav ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*<!------------------------------MAIN----------------> */

.main, section{
    background-color: var(--main-color7);
    padding: 10px;
}

h1{
    padding: 20px;
}
h2{
    padding: 25px 0 15px 0;
}


.teddiesCardContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;

}

.teddyCard{
    width:300px;
    height:auto;
    align-items: center;
/*    padding: 10px 0 10px 0;*/
    border: 1px solid var(--mainPink) ;
    border-radius: 25px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 20%);
    margin-bottom: 10px;
}

.ted-fig{
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0 10px 0;
}

.ted-img{
    width: 280px;
    height: 170px;
    object-fit:cover;
    border: 1px solid pink;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-bottom: 8px;
}

/*<!-- en cas d'erreur internet/api -->*/
.noLoading{
    padding: 20px;
    background-color: var(--main-color7);
    border: 4px dashed var( --primaryColor2) ;
    /*display: none;*/
}
.problemeServeur{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    padding: 10px;
}


/*<!--  section bestSale(...)-->*/
.bestSale.ted-fig{
    background-color: var(--main-color6);
    border-radius: 25px;
}


/*<!--  section delivery(...)-->*/
.deliveryImgBox{
    width:100%;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 8px 0 10px 0;
    background:#FFF;

}
.delivery{
    width: 70px;
    height: 60px;
}

#ourSellAbility p{
    padding: 10px 0 10px 0;
}




/*<!--  section (...)-->*/




/*<!------------------------------ FOOTER -------------------------------->*/

footer{
    background-color: var(--main-color6);
    padding: 30px 0 30px 0;
}

footer ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fab{
    font-size: 2.5rem;
    padding: 10px 12px;
}

/*________________________________responsive _______ @media___________________________________________*/



@media all and (max-width: 1200px) and (min-width:600px)
{
    /*general*/
	/*header*/
	/*main*/
	/*footer*/
}

@media all and (max-width: 600px)
{	/*general*/
	/*header*/
	/*main*/
	/*footer*/

}