/*-----------------*/
/*---  orinoco  ---*/
/*-------css-------*/


/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100;400;700&display=swap');
/*font-family: 'Indie Flower', cursive;
font-family: 'Roboto', sans-serif;*/

:root {
    --primaryColor1: #919BA7;
    --primaryColor2: #D11421;
    --primaryColor3: #3B46EB;
    
    --main-color1: #17375E; /* */
    --main-color2: #F6A2A8; /* */
    --main-color3: #ACB0F7;
    --main-color4: #D11485;
    --main-color5: #F3E9F1;/*logo&header bg*/
    --main-color6: #E3E0FC;/*footer bg*/
    --main-color7: #C5C6FE;/*main bg*/

    --mainWhite: #fff;
    --mainBlack: #000;
    --mainGrey: #808080;
    --mainPink : pink;
    
    
    --main-padding: 25px 10px;
    --main-spacing: 0.5rem;
    --main-transition: all 0.3sec linear;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.d-flex{display: flex;}
.centerTxt{text-align: center;}

h1{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-shadow : 0 0 20px var(--main-color4) ; 
}

h2{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6rem;
    padding: 25px 0 15px 0;
}

h3{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5rem;
}

h4{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4rem;
}


p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.3rem;
}
	
a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    /* padding: 20px; */
}

.fas{
    padding: 0 10px;
}

li{list-style: none;}


	
/* <!---------------------------- BODY ----------------------------> */

body{
    background-color:var(--mainWhite) ;
	color: var(--mainBlack);
    font-family: 'Indie Flower', cursive;
    max-width: 1400px;
    margin: 0 auto;
}

/*<!------------------------------HEADER----------------> */

/*<!--  logo (...)-->*/

.logo img{
    width: 200px;
    padding-left: 10px;
}

.logo {
    background-color: var(--main-color5);

}
/*<!--  headernav (...)-->*/
.headernav{
    background-color: var(--main-color5); 
}

.headernav ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

/*<!------------------------------MAIN----------------> */

.main, section{
    background-color: var(--main-color7);
    padding: 10px;
}

.teddiesCardContainer{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height:auto;
}

.teddyCard{
    width:300px;
    height:auto;
    align-items: center;
/*    padding: 10px 0 10px 0;*/
    border: 1px solid var(--mainPink) ;
    border-radius: 25px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 20%);
    margin: 10px 20px;
}

.teddyCard:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}


.ted-fig{
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0 10px 0;
}

.ted-img{
    width: 280px;
    height: 170px;
    object-fit:cover;
    border: 1px solid pink;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-bottom: 8px;
}


.ted-figcap{
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 5px;
}

.ted-nameprice{
    flex-direction:row;
    justify-content:space-between;
    /* align-items: center; */
}

.ted-name{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.ted-price{
    font-family: 'Roboto', sans-serif;
}




/*<!-- en cas d'erreur internet/api -->*/
.noLoading{
    padding: 20px;
    background-color: var(--main-color7);
    border: 4px dashed var( --primaryColor2) ;
    /*display: none;*/
}
.problemeServeur{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    padding: 10px;
}


/*<!--  section bestSale(...)-->*/
.bestSaleContainer{
    background-color: var(--main-color6);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;

}
.bestSaleImg{
    width: 300px;
    height: 320px;
    margin: 20px 0;
    background-image: url(images/best-sale/fred.jpg);
    background-size: cover;
    background-position: 50% 0%;
    border-radius: 25px;
    animation: diaporama 20s linear infinite;
}
@keyframes diaporama{
    0%{background-image: url(images/best-sale/fred.jpg );}
    10%{background-image: url(images/best-sale/dupond.jpg);}
    20%{background-image: url(images/best-sale/alphonse.jpg);}
    30%{background-image: url(images/best-sale/john.jpg);}
    40%{background-image: url(images/best-sale/francky.jpg);}
    50%{background-image: url(images/best-sale/pierre.jpg);}
    60%{background-image: url(images/best-sale/couple.webp);}
    70%{background-image: url(images/best-sale/dupont.jpg);}
    80%{background-image: url(images/best-sale/marc.jpg);}
    90%{background-image: url(images/best-sale/mimi.webp);}
}


/*<!--  section delivery(...)-->*/

#ourSellAbility{
    flex-direction: column;
    align-items: center;
}

#ourSellAbility p{
    padding: 10px 0 10px 0;
}

.deliveryImgBox{
    width:74%;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 8px 0 10px 0;
    background:#FFF;
}

.deliveryImg{
    width: 50px;
    height: 35px;
}

.deliveryFaBox{
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}


/*<!------------------------------ FOOTER -------------------------------->*/

footer{
    background-color: var(--main-color6);
    padding: 30px 0 30px 0;
}

footer ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fab{
    font-size: 2.5rem;
    padding: 10px 12px;
}


/* .......................................page product.html.........................................*/
.form1Container{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height:auto;
}

/* .form1{
    background-color:var(--main-color3);
} */

button{
    padding: 15px;
    margin: 30px 10px;
    background-color: var(--main-color1);
    color: var(--mainWhite);
    border-radius: 5px;
    width: 200px;
}
button:hover{
    transition: all 20sec ease-in;
    transform: scale(1.02);
    background-color:var(--primaryColor3);
    cursor:  pointer;

}


/* .......................................page shopping-cart.html.........................................*/

h2+p{
    padding-bottom: 50px;
}

form.cart{
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

fieldset.cartField{
    width: 98%;
    height:auto;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 10px;
    background-color:var(--main-color6);
    font-family: 'Roboto', sans-serif;
}
fieldset .oneCartItem{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 10px;
    background-color:var(--main-color6);
    font-family: 'Roboto', sans-serif;
}

.oneCartItem p{
padding: 0 6px;
}


fieldset .billContainer{
    justify-content: center;



}



fieldset a{
    display: none;
}

.cart label{
    padding: 14px 10px;
}



.billText{
    /* width: 98%;
    height:auto; */
    flex-direction: column;
    /* justify-content:flex-start; */
    align-items: flex-start;
    margin-top: 20px ;  
    padding-left: 5%; 
}

.billCalc{
    /* width: 98%;
    height:auto; */
    flex-direction: column;
    /* justify-content:flex-end; */
    align-items: flex-end;
    margin-top: 20px ;  
    padding-left: 10%; 

}

textarea.cart{
    resize: none;
}


fieldset.shopperField{
    width: 98%;
    height:auto;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color:var(--main-color6);
}
/*_____________________________________________________________________________________________________*/
/*________________________________responsive _______ @media___________________________________________*/
/*___________________________________________________________________________________________________*/


@media all and (max-width: 320px){/* <320w*/
        /*main*/
    .teddyCard{
        width:280px;
        height:auto;
        margin: 10px 0;
    }
    .ted-img{
        width: 250px;
        height: 140px;
    }
    .bestSaleImg{
        width: 280px;
        height: 300px;
    }
}

@media all and (max-width: 600px)/* <600w*/
{	/*general*/
	/*header*/
	/*main*/
	/*footer*/

}

@media all and (min-width: 900px){/* >900w*/
    .headernav ul{
        flex-direction: row;
        justify-content:space-evenly;
    }
	/*main*/
    .teddyCard{
        width:420px;
        height:auto;
        margin: 15px;
    }
    .ted-img{
        width: 400px;
        height: 300px;
    }
    .bestSaleImg{
        width: 500px;
        height: 700px;
    }
    #ourSellAbility p{
        padding: 10px 0 10px 0;
    }
    
    .deliveryImgBox{
        justify-content:center;
        padding: 15px 0;
    }
    .deliveryImg{
        width: 80px;
        height: 65px;
        margin: 0 40px;
    }
    
    .deliveryFaBox{
        justify-content:center;
    }
    .deliveryFaBox .fab{
        font-size: 3.5rem;
        margin: 0 20px;
    }
	/*footer*/
    footer ul{
        flex-direction: row;
        justify-content: space-evenly;
    }

/*...........................*/
	/*shopping-cart.html*/
/*...........................*/
    fieldset.cartField{
        width: 60%;
        justify-content:space-evenly;/*??*/
    }
    fieldset a{
        display: box;
    }

    fieldset.shopperField{
        width: 60%;
        justify-content: center;
        padding: 100px;
    }
    


}




