/*-----------------*/
/*---           ---*/
/*-----------------*/



/*commentaire*/



/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100;400;700&display=swap');


:root {
    --primaryColor1: #919BA7;
    --primaryColor2: #D11421;
    --primaryColor3: #3B46EB;
    
    --main-color1: #17375E; /* */
    --main-color2: #F6A2A8; /* */
    --main-color3: #ACB0F7;
    --main-color4: #D11485;
    --main-color5: #F3E9F1;/*logo bg*/

    --mainWhite: #fff;
    --mainBlack: #000;
    --mainGrey: #808080;
    
    
    --main-padding: 25px 10px;
    
    --main-spacing: 0.5rem;
    
    --main-transition: all 0.3sec linear;
    
    }
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.d-flex{display: flex;}
.centerTxt{text-align: center;}

h1{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 0.8em;
}

h2{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 0.8em;
}

h3{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 0.8em;
}

h4{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 0.8em;
}


p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 0.8em;
}
	
a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 20px;
}

li{list-style: none;}

/*font-family: 'Indie Flower', cursive;

font-family: 'Roboto', sans-serif;*/
	
/* <!---------------------------- BODY ----------------------------> */

body{
    background-color:var(--mainWhite) ;
	color: var(--mainBlack);
    font-family: 'Indie Flower', cursive;
    max-width: 1400px;
    margin: 0 auto;
	border: solid 1px red;
}

/*<!------------------------------HEADER----------------> */

/*<!--  logo (...)-->*/

.logo img{
    width: 200px;
    padding-left: 10px;
}

.logo {
    background-color: var(--main-color5);

}
/*<!--  headernav (...)-->*/

/*<!------------------------------MAIN----------------> */

/*<!--  banner (...)-->*/

/*<!--  section (...)-->*/

/*<!--  article (...)-->*/

/*<!--  aside  (...)-->*/


/*<!------------------------------ FOOTER -------------------------------->*/

footer ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



/*________________________________responsive _______ @media___________________________________________*/



@media all and (max-width: 1200px) and (min-width:600px)
{
    /*general*/
	/*header*/
	/*main*/
	/*footer*/
}

@media all and (max-width: 600px)
{	/*general*/
	/*header*/
	/*main*/
	/*footer*/

}